{% extends 'base.html' %}

{% block title %}
Список вопросов
{% endblock %}

{% block content %}
<div class="container">

	{% if messages %}
			{% for message in messages %}
				<P	{% if message.tags %} class="col-12 mt-5 alert {{ message.tags }}" {% endif %} role="alert">
					{{ message }}
				</p>
			{% endfor %}
		{% endif %}

	<p id="ttl_poll" hidden="true">{{ ttl_poll }}</p>

	

	<div class="row">
		<div class="col-12 mt-5">
			<ul class="list-group">
				{% for question in questions %}
				<li class="list-group-item d-flex justify-content-between">
					{{ question.text }}
					<div>
						<a class="btn btn-secondary btn-sm" href="{% url 'poll:question_get_answer' pk=question.pk %}">Ответить на вопрос</a>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<script>

	//let count = document.querySelector('#count');
	let timer = document.querySelector('#timer_poll');
	let ttl_poll = document.querySelector('#ttl_poll').innerHTML
	

	countSec = ttl_poll % 60
	countMin = Math.floor(ttl_poll / 60)

	const updateText = () => { 
		timer.innerHTML = 'Таймер опроса - ' + ('0' + String(countMin)).slice(-2) + ':' + ('0' + String(countSec)).slice(-2);
	}
	
	const countDown = () =>  { 
		let total = countSec + countMin * 60;
		timeInterval = setTimeout(countDown, 1000);
 		if (total <= 0) {
			clearTimeout(timeInterval)
			timer.classList.remove("badge-secondary")
			timer.classList.add("badge-danger")
		}
		if (countSec > 0) {
			--countSec;
		} else {
			if (countMin != 0) {
				countSec = 59;
				--countMin;
			} else {
				countSec = 0;
				countMin = 0;
			}
		} 
		updateText()
	}

	countDown()

	
</script>
{% endblock %}