{% extends "base.html" %}
{% block title %}Задача {{ object.id }}{% endblock %}

{% block content %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters shadow-lg" style="background-color: #e5dfd9;">
    <div class="col-md-4">
      {% if object.image %}
      <img src="{{ object.image.url }}" class="card-img" alt="...">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">Вопрос:</h4>
        <h5 class="card-title">{{ object.text }}</h5>
        <p class="card-text">Тип вопроса: {{ object.get_type_display }}</p>
        <p class="card-text">Время ответа: {{ object.time_limit }}</p>
        <p class="card-text">Ответы:
          <ul>
            {% for answer in object.answers.all %}
            <li class="{% if answer.valid %} text-success {% else %} text-danger {% endif %}">{{ answer.text }}</li>
            {% endfor %}
          </ul>
        </p>
      </div>
    </div>
    <a class="btn btn-light m-2" href="{% url 'poll:question_edit' object.pk %}">Редактировать</a>
    <a class="btn btn-light m-2" href="{% url 'poll:question_delete' object.pk %}">Удалить</a>
  </div>
</div>


{% endblock %}