{% extends "base.html" %}
{% block title %}Задача {{ object.id }}{% endblock %}

{% block content %}
  <h1>Опрос</h1>
  <p><b>Описание</b>: {{ object.name }}</p>
  <ul>
    <li>Список вопросов: 
        <ul>
            <li>{{ object.question }}</li>
        </ul>
    </li>
    <li>Дата публикации: {{ object.date_pub }}</li>
    <li>Администратор: {{ object.user }}</li>
    <li>Время ответа: {{ object.time_limit }}</li>
    <li>Ответы: {{ object.answers__text_answer }}</li>
  </ul>
  <a class="btn btn-light m-2" href="{% url 'poll:poll_edit' object.pk %}">Редактировать</a>
  <a class="btn btn-light m-2" href="{% url 'poll:poll_delete' object.pk %}">Удалить</a>
{% endblock %}
