{% extends 'base.html' %}

{% block title %}
Список ответов
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-12 mt-5">
			<ul class="list-group">

				{% for answer in question.answers.all %}
				<li class="list-group-item d-flex justify-content-between">
					{{ answer.text }}
					<div>
						<a class="btn btn-secondary btn-sm" href="{% url 'poll:answer_edit' pk=answer.pk %}">Редактировать</a>
						<a class="btn btn-outline-danger btn-sm" href="{% url 'poll:answer_delete' pk=answer.pk %}">Удалить</a>
					</div>
				</li>
				{% endfor %}
				
			</ul>
		</div>
		<div class="col-12 mt-5">
			<a class="btn btn-secondary btn-sm" href="{% url 'poll:answer_create' pk=question.pk %}">Добавить ответ</a>
		</div>
	</div>
</div>

{% endblock %}